# config/litestream.yml
snapshot:
  interval: 4h
  retention: 24h
dbs:
  - dir: /databases
    pattern: "*.sqlite"
    watch: true
    truncate-page-n: 121359
    min-checkpoint-page-count: 1000
    checkpoint-interval: 1h
    monitor-interval: 10m
    replicas:
      - type: s3
        bucket: will-be-done-prod-dbs
        endpoint: ${LITESTREAM_ENDPOINT}
        # Access keys are read from environment variables defined in Kamal
        access-key-id: ${LITESTREAM_ACCESS_KEY_ID}
        secret-access-key: ${LITESTREAM_SECRET_ACCESS_KEY}
        sync-interval: 10m
