name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [web, hyperdb, api, slices]

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Playwright browsers
        if: matrix.package == 'hyperdb'
        run: bunx playwright install chromium

      - name: Lint @apps/${{ matrix.package }}
        run: cd apps/${{ matrix.package }} && bun run lint

      - name: TypeCheck @apps/${{ matrix.package }}
        run: cd apps/${{ matrix.package }} && bun run ts

      - name: Test @apps/${{ matrix.package }}
        if: matrix.package == 'hyperdb'
        run: cd apps/${{ matrix.package }} && bun run test
